

<section class="fader_reg">
  <section class="wrapper_reg">

    <h2 class="regregreg">Регистрация</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field_reg">
        <!-- <%= f.label :email, "Электронная почта" %><br /> -->
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Электронный адрес", :class => 'pochta' %>
      </div>

      <div class="field_reg">
        <!-- <%= f.label :password, "Пароль" %> -->
        <!-- <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br /> -->
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Пароль (минимум 6 символов)", :class => 'pochta' %>
      </div>

      <div class="field_reg">
        <!-- <%= f.label :password_confirmation, "Подтверждение пароля" %><br /> -->
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Подтверждение пароля", :class => 'pochta' %>
      </div>

      <div class="actions_reg">
        <%= f.submit "Зарегистрироваться", :class => 'voiti' %>
      </div>
    <% end %>

    <div class="reg-niz-niz">
      <div class="ili"> Уже зарегистрированы?</div>

      <%- if controller_name != 'sessions' %>
        <%= link_to "Войти", new_session_path(resource_name), :class => 'zabili' %><br />
      <% end -%>
    </div>



  </section>
</section>
