<section class="fader">
  <div class="close" id="closetem"><img src="https://i.ibb.co/N6bD89n/krest.png"/></div>
  <section class="wrappertemi">
    <div class="shownewtemi">
      <div class="zagolovokk">Редактирование</div>

      <%= form_for(topic) do |f| %>
        <% if topic.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

            <ul>
            <% topic.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <!-- <div class="fieldd">
          <%= f.label :title %>
          <%= f.text_field :title %>
          <%#= select("topic", "title", Topic.all.collect { |t| [t.title, t.id] }, { include_blank: true }) %>
        </div> -->

        <div class="">
          <div class="side_input_temi">
            <!-- <%= f.label :question %> -->
            <%= f.text_field :title, placeholder: "Добавьте название...", autocomplete: "off", :class => 'dobavtemi' %>
          </div>
        </div>

        <div>
          <div class="side_input_temi_opisanie">
            <!-- <%= f.label :question %> -->
            <%= f.text_field :description, placeholder: "Добавьте описание...", autocomplete: "off", :class => 'dobavtemiopisanie' %>
          </div>
        </div>

        <div class="dobavlenieimage">
          <%= f.label :image, "+ Добавить изображение" %>
          <%= f.file_field :image %>
        </div>


        <!-- <div class="fieldddd">
          <%= f.label :user_id, "Уровень сложности:" %>
          <%= f.number_field :user_id, current: :user_id, :class => 'sloznosti'%>
        </div> -->

        <div class="nizsozd">
          <div class="actionss">
            <%= f.submit 'Сохранить', :class => 'sozdanie' %>
          </div>
          <%= link_to topic, method: :delete, :class => "deleteee", data: { confirm: 'Are you sure?' } do -%>
            <div>Удалить тему</div>
          <% end %>
        </div>

        <!-- <%= link_to topic, method: :delete, data: { confirm: 'Are you sure?' } do -%>
          <div class="deleteee">Удалить тему</div>
        <% end %> -->

      <% end %>

    </div>
  </section>
</section>
