
<section class="cardsshow">

  <div class="zagolovok">
    <%= @topic.title %>
    <%= link_to new_card_path, remote: true do %>
      <div><img src="https://i.ibb.co/7GDBYnB/image.png"/></a></div>
    <% end %>
  </div>

  <div class="podcard">
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
  </div>

  <div class="car">

    <!-- <div class="aa">
      <div class="newcar">Добавьте карточку...</div>
      <%= link_to new_card_path do -%>
        <div class="newcar"></div>
      <% end %>
    </div> -->

    <% @cards.each do |card| %>
      <div class="aa <%= 'withImage' if card.image.try(:url) %><%= 'withoutImage' unless card.image.try(:url) %>">
        <%= link_to card, remote: true do %>
          <div class="otkrcard"></div>
        <% end %>


        <div class="zatemnenie"></div>

        <div class="imageniz"><%= image_tag card.image %></div>

        <div class="quest"><%= card.question %></div>
        <div class="answ"><%= card.answer %></div>

        <div><%= card.memorization_level %></div>

      </div>
    <% end %>
  </div>

</section>
