<section class="topics-verh <%= 'withImageTopic' if @topic.image.try(:url) %><%= 'withoutImageTopic' unless @topic.image.try(:url) %>">

  <div class="zatemnenietemi"></div>

  <div class="topics-verh-infa">

    <div class="topics-verh-nazvanie">
      <%= @topic.title %>
      <%= link_to edit_topic_path, remote: true do -%>
        <div class="topics-verh-redact"><%= image_tag ("edit2.svg") %></div>
        <div class="topics-verh-redactt"><%= image_tag ("edittt.svg") %></div>
      <% end %>
    </div>

    <div class="topics-verh-opisanie">
      <%= @topic.description %>
    </div>

  </div>

  <div class="topics-verh-kolichestvo">
    <%= @topic.cards.count %>
    <%= Russian.p(@topic.cards.count, "карточка", "карточки", "карточек") %>
    <%= link_to new_card_path, remote: true do %>
      <div class="topics-verh-dobavlenie"><%= image_tag ("plus.svg") %></div>
      <div class="topics-verh-dobavlenieee"><%= image_tag ("plus3.svg") %></div>
    <% end %>
  </div>

  <div class="glavnaya-image-topics">
    <%= image_tag @topic.image %>
  </div>

</section>

<section class="cardsshow">

  <!-- <div class="podcard_temi">
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
  </div> -->

  <div class="car">

    <!-- <div class="aa">
      <div class="newcar">Добавьте карточку...</div>
      <%= link_to new_card_path do -%>
        <div class="newcar"></div>
      <% end %>
    </div> -->

    <% @cards.each do |card| %>
      <div class="aa <%= 'withImage' if card.image.try(:url) %><%= 'withoutImage' unless card.image.try(:url) %>">
        <%= link_to card, remote: true do %>
          <div class="otkrcard"></div>
        <% end %>


        <div class="zatemnenie"></div>

        <div class="imageniz"><%= image_tag card.image %></div>

        <div class="quest"><%= card.question %></div>
        <div class="answ"><%= card.answer %></div>

        <div><%= card.memorization_level %></div>

      </div>
    <% end %>
  </div>

</section>
