<div class="glavnaya-verh-welcome">
  <div class="opisanieproecta">
    <h1>Метод запоминания с помощью <br> флэш – карточек</h1>
    <h2>Мы лучше запоминаем информацию, если обращаемся <br> к ней несколько раз в течении длительного времени, <br> причем между повторениями необходимы интервалы. </h2>
  </div>
</div>

<div class="glavnaya-image-welcome">
  <%= image_tag ("glav.jpg") %>
</div>

<section class="topics-welcome">

  <div class="zagolovok-welcome">
    <h1>Добавьте себе готовые наборы с карточками</h1>
    <!-- <%= link_to new_topic_path, remote: true do %>
      <div><img src="https://i.ibb.co/7GDBYnB/image.png"/></a></div>
    <% end %> -->
  </div>

  <div class="podzagolovok-welcome">
    <h2>Мы собрали для вас готовые наборы карточек по разным темам, <br> вы можете просто добавить их в свой профиль.</h2>
  </div>

  <div class="tema-welcome">
    <% @topics.each do |topic| %>
      <section class="b <%= 'withImageTopic' if topic.image.try(:url) %><%= 'withoutImageTopic' unless topic.image.try(:url) %>">

        <%= link_to topic, {:action => 'show', :id => topic.id} do -%>
          <div class="otkritietemi"></div>
        <% end %>

        <div class="zatemnenietemimini"></div>

        <div class="imege_topic_niz"><%= image_tag topic.image %></div>

        <div class="title_topic_niz"><%= topic.title %></div>

        <div class="kolichestvo_topic_niz">
          <%= topic.cards.count %>
          <%= Russian.p(topic.cards.count, "карточка", "карточки", "карточек") %>
        </div>

      </section>
    <% end %>
    <div class="bolse-welcome">
      <%= link_to topics_path do -%>
        <div>Показать больше</div>
        <div><img src="https://i.ibb.co/HB9KMMW/CNHTKRF-06.png"/></div>
      <% end %>
    </div>
  </div>

</section>

<section class="cards-welcome">

  <div class="zagolovok-welcome">
    <h1>Популярные карточки</h1>
    <!-- <%= link_to new_card_path, remote: true do %>
      <div><img src="https://i.ibb.co/7GDBYnB/image.png"/></a></div>
    <% end %> -->
  </div>

  <div class="podzagolovok-welcome">
    <h2>Вы можете создавать карточки с терминами по разным предметам <br> и регулярно проверять себя, постепенно осваивая материал.</h2>
  </div>

  <div class="card-welcome">
    <% @cards.each do |card| %>
      <div class="aa <%= 'withImage' if card.image.try(:url) %><%= 'withoutImage' unless card.image.try(:url) %>">

        <%= link_to card, remote: true do %>
          <div class="otkrcard"></div>
        <% end %>

        <div class="zatemnenie"></div>

        <div class="imageniz"><%= image_tag card.image %></div>

        <div class="quest"><%= card.question %></div>

        <div class="answ"><%= card.answer %></div>

        <div><%= card.memorization_level %></div>

      </div>
    <% end %>

    <div class="bolse-welcome">
      <%= link_to cards_path do -%>
        <div>Показать больше</div>
        <div><img src="https://i.ibb.co/HB9KMMW/CNHTKRF-06.png"/></div>
      <% end %>
    </div>
  </div>

</section>
