<section class="fader_reg">
  <section class="wrapper_reg">

    <h2 class="regreg">Уже зарегистрированы?</h2> 

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field_reg">
        <!-- <%= f.label :email, "Электронная почта" %><br /> -->
        <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "Адрес электронный почты", :class => 'pochta' %>
      </div>

      <div class="field_reg">
        <!-- <%= f.label :password, "Пароль" %><br /> -->
        <%= f.password_field :password, autocomplete: "off", placeholder: "Пароль", :class => 'pochta' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field_reg">
          <%= f.check_box :remember_me, :class => 'zapomnit' %>
          <%= f.label :remember_me, "Запомнить меня", :class => 'zapomnitt' %>
        </div>
      <% end -%>

      <div class="actions_reg">
        <%= f.submit "Войти", :class => 'voiti' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </section>
</section>
