<!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<section class="fadershowcard">
  <section class="close"></section>

  <div class="redzagcard">
    <div class="topiccard"><%= Topic.find(@card.topic_id).title %></div>
    <%= link_to edit_card_path, :class => 'cnopcaredact', remote: true do %>
      <div>Редактировать</div>
    <% end %>
  </div>

  <div class="showcard_container">

    <section class="showcard <%= 'withImage' if @card.image.try(:url) %><%= 'withoutImage' unless @card.image.try(:url) %>">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <div class="one_side_flip">
              <div class="image_vnutri"><%= image_tag @card.image %></div>
              <div class="side_vnutri"><%= @card.question %></div>
            </div>
          </div>
          <div class="back">
            <div class="second_side_flip">
              <div class="side_vnutriniz"><%= @card.answer %></div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</section>
