<!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<section class="fadershowcard">
  <section class="close"></section>

  <div class="redzagcard">
    <div class="topiccard"><%= Topic.find(@card.topic_id).title %></div>

    <% if can? :edit, @card %>
      <%= link_to edit_card_path, :class => 'cnopcaredact', remote: true do %>
        <div>Редактировать</div>
      <% end %>
    <% end %>
  </div>

  <div class="showcard_container">

    <section class="showcard <%= 'withImage' if @card.image.try(:url) %><%= 'withoutImage' unless @card.image.try(:url) %>">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <div class="one_side_flip">
              <div class="image_vnutri"><%= image_tag @card.image %></div>
              <div class="side_vnutri"><%= @card.question %></div>
            </div>
          </div>
          <div class="back">
            <div class="second_side_flip">
              <div class="side_vnutriniz"><%= @card.answer %></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="button">

      <div class="prev_button">
        <%= link_to @card.prev, class: 'prev_button', remote: true do %>
          <%= image_tag "strelka.svg" %>
        <% end %>
      </div>

      <div class="next_button">
        <%= link_to @card.next, class: 'next_button', remote: true do %>
          <%= image_tag ("strelka.svg") %>
        <% end %>
      </div>

    </div>

    <div class="proverka">
      <% if can? :create, Attempt %>
        <%= link_to "Знаю", attempts_url(attempt: {card_id: @card.id, result: true}), method: :post, remote: true, class: "znayu" %>
        <%= @card.attempts.where(user_id: current_user.id, result: true).count %>
        <%= @card.attempts.where(user_id: current_user.id, result: false).count %>
        <%= link_to "Не знаю", attempts_url(attempt: {card_id: @card.id, result: false}), method: :post, remote: true, class: "znayu" %>
      <% else %>
        <%= link_to "Знаю", new_user_registration_path, class: "znayu" %>
        <%= link_to "Не знаю", new_user_registration_path, class: "znayu" %>
      <% end %>
    </div>

  </div>

</section>
