
<section class="cards">

  <div class="zagolovok">
    <h1>Карточки</h1>
    <%= link_to new_card_path, remote: true do %>
      <div><img src="https://i.ibb.co/7GDBYnB/image.png"/></a></div>
    <% end %>
  </div>

  <!-- <div class="podcard">
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
    <div class="cc"></div>
  </div> -->


  <div class="car">
    <!-- <div class="aa">
      <div class="newcar">Добавьте карточку...</div>
      <%= link_to new_card_path do -%>
        <div class="newcar"></div>
      <% end %>
    </div> -->
    <% @cards.each do |card| %>
      <div class="aa <%= 'withImage' if card.image.try(:url) %><%= 'withoutImage' unless card.image.try(:url) %>">

        <%= link_to card, remote: true do %>
          <div class="otkrcard"></div>
        <% end %>


        <div class="zatemnenie"></div>

        <div class="imageniz"><%= image_tag card.image %></div>

        <div class="quest"><%= card.question %></div>
        <div class="answ"><%= card.answer %></div>

        <div><%= card.memorization_level %></div>

          <!-- <div class="redactcard">
            <%= link_to edit_card_path(card), {:action => 'edit', :id => card.id} do -%>
              <div class="editt"><img src="https://cdn1.savepice.ru/uploads/2018/12/20/a23f3d48bf850c231b13b7fd88823411-full.png"/></div>
            <% end %>

            <%= link_to card, method: :delete, data: { confirm: 'Are you sure?' } do -%>
              <div class="deletee"><img src="https://cdn1.savepice.ru/uploads/2018/12/20/7c579154f2462203711b08f8f901f883-full.png"/></div>
            <% end %>
          </div> -->
      </div>
    <% end %>
  </div>

</section>
