<!DOCTYPE html>
<html>
  <head>
    <title>Checkle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <nav class="menubar">
      <%= link_to 'logo', home_index_url %>
      <div class="menu">
        <%= link_to 'Карточки', cards_url %>
        <%= link_to 'Темы', topics_url %>
        <%= link_to 'Проверки', checks_url %>
      </div> -->


    <nav class="menubar">

      <%= link_to home_index_path do -%>
        <div class="logo"><%= image_tag ("logo.svg") %></div>
      <% end %>

      <div class="menu">

        <%= link_to welcome_discover_path, :class => "reg" do -%>
          <div class="me">
            <div class="icon"><%= image_tag ("search.svg") %></div>
            <h2 class="bar">Подборки</h2>
          </div>
        <% end %>

        <%= link_to topics_path, :class => "reg" do -%>
          <div class="me">
            <div class="icon"><%= image_tag ("topic.svg") %></div>
            <h2 class="bar">Темы</h2>
          </div>
        <% end %>

        <%= link_to cards_path, :class => "reg" do -%>
          <div class="me">
            <div class="icon"><%= image_tag ("card.svg") %></div>
            <h2 class="bar">Карточки</h2>
          </div>
        <% end %>

        <!-- <%= link_to checks_path, :class => "reg" do -%>
          <div class="me">
            <div class="icon"><img src="https://i.ibb.co/6mHJT0y/03.png"/></div>
            <h2 class="bar">Проверки</h2>
          </div>
        <% end %> -->

        <!-- <a class="me" href="">
          <div class="ava"><img src="https://i.ibb.co/VqVjFcB/04.png"/></div>
        </a> -->

        <%= render "menu" %>

      <!-- <div>
       <a href="/users/sign_up">Регистрация</a>
       <a href="/users/sign_in">Вход</a>
     </div> -->
      </div>

      <!-- <div>
       <% if user_signed_in? %>
       <%= current_user.email %>
       <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
       <% else %>
       <%= link_to 'Регистрация', new_user_registration_path %>
       <%= link_to 'Вход', new_user_session_path %>
       <% end %>
     </div> -->
    </nav>

    <%= yield %>

    <%#= render 'cards/card_show' %>
  </body>
</html>
